html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.header {
  background-color: firebrick;
  background-size: cover;
  height: 100px;
  text-align: center;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%
}

.nav li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Change the color on hover*/
.nav li a:hover {
  background-color: #111;
}

li.right {
  float: right;
}
