* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-90deg, #35577D, #141E30);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.header {
  background-color: firebrick;
  background-size: cover;
  height: 100px;
  text-align: center;
  border-bottom: 3px solid;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%
}

.nav li {
  float: left;
  border-right: 1px solid #bbb;
}

.right {
  border-left: 1px solid #bbb;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Change the color on hover*/
.nav li a:hover {
  background-color: #111;
}

li.right {
  float: right;
}

.title {
  color: whitesmoke;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.main {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

.images {
  max-width: 1000px;
  max-height: 1000px;
  margin-left: 255px;
}
